In [1]:
#Dependencies
import pandas as pd
from datetime import datetime, timedelta
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from sqlalchemy import create_engine

In [2]:
#Initialize browser
#Change chromedriver path when uploading to server

executable_path = {'executable_path': "chromedriver.exe"}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
#define initial url and direct browser
url = 'https://www.indeed.com/jobs?q=Data+Scientist&explvl=entry_level&sort=date&fromage=3&start='
browser.visit(url)

In [4]:
#Make some soup
html = browser.html
soup = BeautifulSoup(html, 'lxml')
browser.quit()

In [5]:
#Scrap all postings on page into a list. Run through loop to click on next page
postings = soup.find_all( class_= 'jobsearch-SerpJobCard')

In [6]:
postings[0]

<div class="jobsearch-SerpJobCard unifiedRow row result clickcard" data-ci="327813427" data-empn="3018725801175434" data-jk="44ed4ce0d779cc4e" data-tu="https://analytics.prng.co/i?e=se&amp;aid=indeed-firstclick&amp;p=web&amp;tv=no-js-0.1.0&amp;tna=indeed-firstclick-tracker&amp;se_ca=click&amp;se_ac=first-click&amp;se_la=pFYCdsb&amp;se_va=0.00&amp;indeed=sp" id="pj_44ed4ce0d779cc4e">
<style>
.jobcard_logo{margin:6px 0}.jobcard_logo img{width:auto;max-width:80px;max-height:30px}
</style>
<h2 class="title">
<a class="jobtitle turnstileLink" data-tn-element="jobTitle" href="/pagead/clk?mo=r&amp;ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4gRHBu1Qhrf5fzUBXSLc8LP_nM2x0y8uy-V-lpDHbLHEfeQWz8O2dX73EGp6BhVpiiSlW2WSFGHk9w21i5c6_teLvak6YS3N6KVQ6STCL_mnj6cqjTGSqoyicswaJSIjTWSRKno2o_sPAtw1JakecFPdmsOm728gb13EWwArtmIWl_wRVIV6Gvx5cwnRHCmLh_3amQ6TqjToDlN5pLdsGjSrpZstWEpdqUW0gTpkhfOOF72bxrFs_u77HM_LfOkchR9Oo5V0hz4lwelR6clwGdHXs8sQ1QiJwqNMRsMekOXsKf43L4FGiHG&amp;p=0&amp;fvj=0&amp;vjs=3" id="sja0" onclick="setRefineByCookie(['explvl']); sjoc('sja0', 0); convCtr('SJ'); rclk(this,jobmap[0],true,0);" onmousedown="sjomd('sja0'); clk('sja0'); rclk(this,jobmap[0],0);" rel="noopener nofollow" target="_blank" title="Staff Data Scientist - Analytics">
Staff <b>Data</b> <b>Scientist</b> - Analytics</a>
<span class="new">new</span></h2>
<div class="sjcl">
<div>
<span class="company">
<a class="turnstileLink" data-tn-element="companyName" href="/cmp/Intuit" onmousedown="this.href = appendParamsOnce(this.href, 'from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=44ed4ce0d779cc4e&amp;jcid=9784ae78e9834539')" rel="noopener" target="_blank">
Intuit</a></span>
<span class="ratingsDisplay">
<a class="ratingNumber" data-tn-variant="cmplinktst2" href="/cmp/Intuit/reviews" onmousedown="this.href = appendParamsOnce(this.href, '?campaignid=cmplinktst2&amp;from=SERP&amp;jt=Staff+Data+Scientist+-+Analytics&amp;fromjk=44ed4ce0d779cc4e&amp;jcid=9784ae78e9834539');" rel="noopener" target="_blank" title="Intuit reviews">
<span class="ratingsContent">
4.2<svg class="starIcon" height="12px" role="img" width="12px" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M 12.00,4.34 C 12.00,4.34 7.69,3.97 7.69,3.97 7.69,3.97 6.00,0.00 6.00,0.00 6.00,0.00 4.31,3.98 4.31,3.98 4.31,3.98 0.00,4.34 0.00,4.34 0.00,4.34 3.28,7.18 3.28,7.18 3.28,7.18 2.29,11.40 2.29,11.40 2.29,11.40 6.00,9.16 6.00,9.16 6.00,9.16 9.71,11.40 9.71,11.40 9.71,11.40 8.73,7.18 8.73,7.18 8.73,7.18 12.00,4.34 12.00,4.34 Z" style="fill: #FFB103"></path>
</g>
</svg>
</span>
</a>
</span>
</div>
<div class="recJobLoc" data-rc-loc="San Diego, CA" id="recJobLoc_44ed4ce0d779cc4e" style="display: none"></div>
<div class="location accessible-contrast-color-location">San Diego, CA 92112</div>
</div>
<div class="summary">
<ul style="list-style-type:circle;margin-top: 0px;margin-bottom: 0px;padding-left:20px;">
<li>This role will partner closely with <b>data</b> engineering, <b>data</b> analytics, <b>data</b> science, marketing managers, and product management.</li>
</ul></div>
<div class="jobsearch-SerpJobCard-footer">
<div class="jobsearch-SerpJobCard-footerActions">
<div class="result-link-bar-container">
<div class="result-link-bar"><span class="date">Just posted</span><span class="tt_set" id="tt_set_0"><span class="result-link-bar-separator">Â·</span><a class="sl resultLink save-job-link" href="#" id="sj_44ed4ce0d779cc4e" onclick="changeJobState('44ed4ce0d779cc4e', 'save', 'linkbar', true, ''); return false;" title="Save this job to my.indeed">Save job</a></span><div class="edit_note_content" id="editsaved2_44ed4ce0d779cc4e" style="display:none;"></div><script>if (!window['sj_result_44ed4ce0d779cc4e']) {window['sj_result_44ed4ce0d779cc4e'] = {};}window['sj_result_44ed4ce0d779cc4e']['showSource'] = false; window['sj_result_44ed4ce0d779cc4e']['source'] = "Intuit"; window['sj_result_44ed4ce0d779cc4e']['loggedIn'] = false; window['sj_result_44ed4ce0d779cc4e']['showMyJobsLinks'] = false;window['sj_result_44ed4ce0d779cc4e']['undoAction'] = "unsave";window['sj_result_44ed4ce0d779cc4e']['relativeJobAge'] = "Just posted";window['sj_result_44ed4ce0d779cc4e']['jobKey'] = "44ed4ce0d779cc4e"; window['sj_result_44ed4ce0d779cc4e']['myIndeedAvailable'] = true; window['sj_result_44ed4ce0d779cc4e']['showMoreActionsLink'] = window['sj_result_44ed4ce0d779cc4e']['showMoreActionsLink'] || false; window['sj_result_44ed4ce0d779cc4e']['resultNumber'] = 0; window['sj_result_44ed4ce0d779cc4e']['jobStateChangedToSaved'] = false; window['sj_result_44ed4ce0d779cc4e']['searchState'] = "q=Data Scientist&amp;amp;sort=date&amp;amp;fromage=3&amp;amp;start="; window['sj_result_44ed4ce0d779cc4e']['basicPermaLink'] = "https://www.indeed.com"; window['sj_result_44ed4ce0d779cc4e']['saveJobFailed'] = false; window['sj_result_44ed4ce0d779cc4e']['removeJobFailed'] = false; window['sj_result_44ed4ce0d779cc4e']['requestPending'] = false; window['sj_result_44ed4ce0d779cc4e']['notesEnabled'] = false; window['sj_result_44ed4ce0d779cc4e']['currentPage'] = "serp"; window['sj_result_44ed4ce0d779cc4e']['sponsored'] = true;window['sj_result_44ed4ce0d779cc4e']['reportJobButtonEnabled'] = false; window['sj_result_44ed4ce0d779cc4e']['showMyJobsHired'] = false; window['sj_result_44ed4ce0d779cc4e']['showSaveForSponsored'] = true; window['sj_result_44ed4ce0d779cc4e']['showJobAge'] = true; window['sj_result_44ed4ce0d779cc4e']['showHolisticCard'] = true; window['sj_result_44ed4ce0d779cc4e']['showDislike'] = false; window['sj_result_44ed4ce0d779cc4e']['showKebab'] = false;</script></div></div>
</div>
</div>
<div class="tab-container">
<div class="sign-in-container result-tab"></div>
<div class="tellafriend-container result-tab email_job_content"></div>
</div>
</div>

In [7]:
len(postings)

15

In [8]:
#Scrape url and add domain
f"https://www.indeed.com{postings[0].find('h2').find(class_ = 'jobtitle')['href']}"

'https://www.indeed.com/pagead/clk?mo=r&ad=-6NYlbfkN0ClvsRMZZYbWkncYKklQZhomgGvtzxN2NDL0Yep_oEtFRBSc398mSurhg85pZ9IK4gRHBu1Qhrf5fzUBXSLc8LP_nM2x0y8uy-V-lpDHbLHEfeQWz8O2dX73EGp6BhVpiiSlW2WSFGHk9w21i5c6_teLvak6YS3N6KVQ6STCL_mnj6cqjTGSqoyicswaJSIjTWSRKno2o_sPAtw1JakecFPdmsOm728gb13EWwArtmIWl_wRVIV6Gvx5cwnRHCmLh_3amQ6TqjToDlN5pLdsGjSrpZstWEpdqUW0gTpkhfOOF72bxrFs_u77HM_LfOkchR9Oo5V0hz4lwelR6clwGdHXs8sQ1QiJwqNMRsMekOXsKf43L4FGiHG&p=0&fvj=0&vjs=3'

In [9]:
#Scrape job title
postings[0].find('h2').find(class_ = 'jobtitle').text.replace('\n', '')

'Staff Data Scientist - Analytics'

In [10]:
#scrape company name
postings[0].find(class_ = 'company').text.replace('\n', '')

'Intuit'

In [11]:
#scrape location (split into city and state later)
location = postings[0].find(class_ = 'recJobLoc')['data-rc-loc']
location

'San Diego, CA'

In [12]:
#splitting location into city and state. try except to include remote work
cities = []
states = []
for x in range(0, len(location)):
    citystate = location[x].split(', ')
    cities.append(citystate[0])
    try:
        states.append(citystate[1])
    except IndexError:
        states.append(citystate[0])
    #print(cities[x] + states[x])

In [13]:
#scrape date added (current day - "days posted ago")
postings[0].find(class_='date').text

'Just posted'

In [14]:
#Convert result to int
try:
    testdate = int(postings[0].find(class_='date').text.split(' ')[0])
except ValueError:
    testdate = 0

In [15]:
#subtract from current date w/ date time
d = datetime.today() - timedelta(days=testdate)
d

datetime.datetime(2020, 6, 26, 20, 39, 30, 961575)

In [16]:
#scrape salary, add null if not included
salaryrange = []
try:
    salaryrange.append(postings[1].find(class_ = 'salaryText').text.replace('\n', ''))
except AttributeError:
    salaryrange.append('NaN')
salaryrange

['NaN']

In [17]:
#scrape job abstract
postings[11].find(class_ = 'summary').text.strip().replace('\n', ' ')

'Provide ongoing statistical programming, scientific data analysis, and statistical modeling support to epidemiologists, health scientists, statisticians, andâ¦'

In [18]:
#Collect all above data for each entry with a loop
post_url = []
job_title = []
company = [] 
city = []
state = []
date_added = []
salaryrange = []
abstract = []

        
for x in range(0, len(postings)):
    post_url.append(f"https://www.indeed.com{postings[x].find('h2').find(class_ = 'jobtitle')['href']}")
    job_title.append(postings[x].find('h2').find(class_ = 'jobtitle').text.replace('\n', ''))
    company.append(postings[x].find(class_ = 'company').text.replace('\n', ''))
    location = postings[x].find(class_ = 'recJobLoc')['data-rc-loc'].split(', ')
    city.append(location[0])
    try:
        state.append(location[1])
    except IndexError:
        state.append(location[0])
    try:
        temp_date = int(postings[x].find(class_='date').text.split(' ')[0])
    except ValueError:
        temp_date = 0
    date_added.append(datetime.today() - timedelta(days=testdate))
    try:
        salaryrange.append(postings[x].find(class_ = 'salaryText').text.replace('\n', ''))
    except AttributeError:
        salaryrange.append('NaN')
    abstract.append(postings[x].find(class_ = 'summary').text.strip().replace('\n', ' '))

In [19]:
date_added

[datetime.datetime(2020, 6, 26, 20, 39, 30, 996556),
 datetime.datetime(2020, 6, 26, 20, 39, 30, 997555),
 datetime.datetime(2020, 6, 26, 20, 39, 30, 998552),
 datetime.datetime(2020, 6, 26, 20, 39, 30, 999551),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 550),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 1549),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 2550),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 3549),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 4547),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 5547),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 7546),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 8546),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 9545),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 10545),
 datetime.datetime(2020, 6, 26, 20, 39, 31, 11544)]

In [47]:
#loop through pages
base_url = 'https://www.indeed.com/jobs?q=Data+Scientist&explvl=entry_level&sort=date&fromage=3&start='
post_url = []
job_title = []
company = [] 
city = []
state = []
date_added = []
salaryrange = []
abstract = []


for x in range(0, 100, 10):
    test_url = f"{base_url}{x}"
    page = requests.get(test_url).content
    soup = BeautifulSoup(page)
    postings = soup.find_all( class_= 'jobsearch-SerpJobCard')
    for x in range(0, len(postings)):
        post_url.append(f"https://www.indeed.com{postings[x].find('h2').find(class_ = 'jobtitle')['href']}")
        job_title.append(postings[x].find('h2').find(class_ = 'jobtitle').text.replace('\n', ''))
        company.append(postings[x].find(class_ = 'company').text.replace('\n', ''))
        location = postings[x].find(class_ = 'recJobLoc')['data-rc-loc'].split(', ')
        city.append(location[0])
        try:
            state.append(location[1])
        except IndexError:
            state.append(location[0])
        try:
            temp_date = int(postings[x].find(class_='date').text.split(' ')[0])
        except ValueError:
            temp_date = 0
        date_added.append(datetime.today() - timedelta(days=testdate))
        try:
            salaryrange.append(postings[x].find(class_ = 'salaryText').text.replace('\n', ''))
        except AttributeError:
            salaryrange.append('NaN')
        abstract.append(postings[x].find(class_ = 'summary').text.strip().replace('\n', ' '))

In [48]:
#Create df with all data and write to csv
post_df = pd.DataFrame(list(zip(post_url, date_added)),
                 columns = ['post_url', 'post_created_on'])

job_df = pd.DataFrame(list(zip(job_title, company, abstract, salaryrange)),
                 columns = ['job_title', 'company', 'description', 'salary_range'])

location_df = pd.DataFrame(list(zip(city, state)),
                 columns = ['city_name', 'state_abbv'])

In [49]:
job_df.head(20)

,job_title,company,description,salary_range
0,Staff Data Scientist - Analytics,Intuit,This role will partner closely with data engin...,NaN
1,Staff Data Scientist,Intuit,We are looking for exceptional talent that can...,NaN
2,Senior Data Scientist,Intuit,This team embeds artificial intelligence and m...,NaN
3,Entry-Level Data Scientist,Rally Health,Experience making sense of multiple data sourc...,NaN
4,Data Scientist,Incedo,Job Description: Create an ensemble architectu...,NaN
5,Data Analytics/Automation Intern,1901 Group,Create data analytics and machine learning sol...,NaN
6,"Intern- Reporting & Analytics, Operations",dÅTERRA International,This is a part-time position and is available ...,NaN
7,Research and Development Oral Health Statistic...,Procter & Gamble,"Deliver to project teams summary tables, data ...",NaN
8,Data Scientist,University of California San Francisco,Our clinical research effort employs novel ana...,NaN
9,Data Scientist (Top 20 Music Company Globally ...,Beatdapp,"Experience using statistical languages (R, Pyt...",NaN
10,Entry-Level Data Mining Specialist,Top Gun Sales Performance,Prepare reports for management and clients reg...,$15 - $16 an hour
11,Data Scientist,US Other Agencies and Independent Organizations,Experience working with data rich problems thr...,"$67,968 - $126,062 a year"
12,Data Science Intern,IMVU,"Test the workbooks (check titles, check data i...",NaN
13,Data Science Intern,Data Society,Data Society's Internship Program is an exciti...,NaN
14,Lead Data Scientist,Target,Must also have 12 months of experience (which ...,NaN
15,Data Science Intern,Data Society,Data Society's Internship Program is an exciti...,NaN
16,Ph.D. Level Mathematician (M/F),AWD Industries,Must already have experience in advanced mathe...,"$80,000 a year"
17,Mathematician,US Department of the Air Force,Assist higher graded mathematicians or scienti...,"$42,053 - $66,868 a year"
18,Lead Data Scientist,Target,Must also have 12 months of experience (which ...,NaN
19,Data Scientist/Modeler,Battelle,Bachelorâs degree in Computer Science or Compu...,NaN

In [51]:
#Write all DF's to CSV.
post_df.to_csv(r'../Resources/postings.csv', index=False)
job_df.to_csv(r'../Resources/jobs.csv', index=False)
location_df.to_csv(r'../Resources/job_locations.csv', index=False)

In [52]:
#Create engine and connect to PostgresDB
etl_db = 'postgres://postgres:password@35.193.2.240:5432/postgres'
engine = create_engine(etl_db)
conn = engine.connect()

In [53]:
#Append Job Posts to DB Table "site_postings"
post_df.to_sql('site_postings',con=conn, if_exists='append', index=False)

In [54]:
#Append Job Details to DB Table "job_data"
job_df.to_sql('job_data',con=conn, if_exists='append', index=False)

In [55]:
#Append location Details to DB Table "location_data"
location_df.to_sql('location_data', con=conn, if_exists='append', index=False)

In [56]:
#Close DB connection
conn.close()